<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <title>Arctos - Menu</title>
        <link href="/public/index.css" rel="stylesheet">
        <link href="/public/menu.css" rel="stylesheet">

        
    </head>
    <body>
        <%- include('menu') %>
        <div class="back">
            
            <h1 class="title">Arctos</h1>
            <p class="by">By Zaryus</p>
            <div class="bouttons">
                
                <a href="/youtube" class="youtube boutton"><i class="fab fa-youtube"></i> Youtube</a>
                <a href="/github" class="github boutton"><i class="fab fa-github"></i> Github</a>

            </div>
            <div class="bouttons">
                <a href="/discord" class="discord boutton"><i class="fab fa-discord"></i> Discord</a>

            </div>
        </div>


    </body>
</html>